name: RSpec

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 10 * * *"

jobs:
  rspec:
    runs-on: ubuntu-latest

    env:
      CI: true
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}

    strategy:
      fail-fast: false
      matrix:
        ruby: [2.6, 2.7, '3.0']
        gemfile: [
          "gemfiles/graphql_1_12_0.gemfile",
          "gemfiles/graphql_1_13_7.gemfile",
          "gemfiles/graphql_2_0_0.gemfile",
          "gemfiles/graphql_2_0_14.gemfile",
          "gemfiles/graphql_master.gemfile"
        ]

    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
        bundler: 2.2.0
        cache-version: 1
    - name: Run Ruby Next
      run: bundle exec rake nextify
    - name: Run RSpec
      run: |
        bundle exec rake spec
    - name: Run RSpec without Rails
      run: |
        bundle exec rake spec:norails
