name: RSpec

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 10 * * *"

jobs:
  rspec:
    runs-on: ubuntu-latest

    env:
      CI: true
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}

    strategy:
      fail-fast: false
      matrix:
        ruby: [3.1, 3.2, 3.3, 3.4]
        gemfile: [
          "gemfiles/graphql_2_1_4.gemfile",
          "gemfiles/graphql_2_3_0.gemfile",
          "gemfiles/graphql_2_3_11.gemfile",
          "gemfiles/graphql_master.gemfile"
        ]
        exclude:
          - ruby: "3.1"
            gemfile: gemfiles/graphql_2_3_0.gemfile
          - ruby: "3.1"
            gemfile: gemfiles/graphql_2_3_11.gemfile
          - ruby: "3.1"
            gemfile: gemfiles/graphql_master.gemfile

    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
        bundler: 2.2.0
        cache-version: 1
    - name: Run RSpec
      run: |
        bundle exec rake spec
    - name: Run RSpec without Rails
      run: |
        bundle exec rake spec:norails
